html {
    width: 1027px;
}

.grid-container {
    display: grid;
    margin: 0 auto; 
    grid-template-columns: auto auto auto auto auto;  
}

.menu {
    /* grid-column: 1/span 4;
    grid-row: 1; */
    grid-column-start: 1;
    grid-column-end: 5;
}

.commando {
    /* grid-column: 1/span 3;
    grid-row: 3; */
    grid-column-start: 1;
    grid-column-end: 3;
}

.max-verstappen {
    /* grid-column: 2;
    grid-row: 3; */
    grid-column-start: 3;
    grid-column-end: 4;
    
}

.net-binnen {
    /* grid-column: 3;
    grid-row: 3/span 4; */
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
}

.griepvaccin {
    /* grid-column: 1;
    grid-row: 4; */
    grid-column-start: 1;
    grid-column-end: 2;

}

.zonovergoten {
    /* grid-column: 2;
    grid-row: 4; */
    grid-column-start: 2;
    grid-column-end: 3;
    
}

.schandaal {
    /* grid-column: 3;
    grid-row: 4; */
    grid-column-start: 3;
    grid-column-end: 4;

}